.day-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-style: solid;
    border-width: 4px;
    height: 50px;
    border-color: rgb(242, 146, 17);
    color: black;
}
.day-stats {
    display: flex;
    height: 101px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.day-stats-date {
    height: 40px;
    width: 40px;
    font-size: 48px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 5px;
}
.day-stats-date p {
    padding-left: 4px;
}
.day-stats-day {
    margin-bottom: 0px;
    margin-left: 4px;
}
.day-stats-day p {
    padding-left: 4px;
}
.day-setting {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.day-stats-hours {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: white;
}

.day-stats-hours-time {
    margin-top: 52px;
}
.day-stats-hours-hours {
    margin-top: 52px;
    margin-left: 10px;
}
.calendar-button {
    background-color: white;
    border: none;
    height: 45px;
    width: 45px;
}
.calendar-icon {
    height: 20px;
    width: 20px;
}
.day-box:hover .day-setting,
.day-box:hover .day-stats-hours,
.day-box:hover .day-stats,
.day-box:hover .calendar-button {
    background-color: rgb(242, 146, 17);
    color: white;
}
